* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  color: white;
  font-family: monospace, serif;
}

body {
  /* background: rgb(3,26,107); */
  background: linear-gradient(rgba(0, 67, 133), rgba(5, 178, 220, 1));
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(0, 67, 133);
  color: white;
}

.navbar-img {
  height: 5rem;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar--open {
  display: none;
}

.navbar-plegable {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.navbar-plegable a {
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.navbar-plegable a:hover {
  color: blue;
  background: rgb(5, 178, 220, 0.6);
}

.navbar-items a:visited {
  color: white;
}

.navbar-items li {
  list-style: none;
}

.footer__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.footer--item {
  margin: 0 1rem 0 0;
  text-decoration: none;
}

.footer--item:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 544px) {
  .navbar {
    z-index: 1;
  }

  .navbar-plegable {
    display: none;
    margin: 0;
  }

  .navbar--open {
    margin: 0 2rem 0 0;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
  }

/*   .navbar-menu:hover .navbar--open {
    visibility: 0;
    pointer-events: none;
  }  */
/* 
  .navbar--open:hover ~ .navbar--close,
  .navbar-menu:hover .navbar--close {
    display: block;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background:rgb(0, 67, 133);
  }

  .navbar--open:hover{
    opacity: 0;
    pointer-events: none;

  }


  .navbar--close:hover ~ .navbar-plegable {
    display: none;
  } */

.navbar-plegable--open {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    top: 5rem;
    left: 0;
    width: 100%;
    background: black;
    height: calc(100% - 5rem);
    overflow: scroll;
    z-index: 100;
    position: absolute;
  }

  .navbar-plegable a {
    padding: 1.5rem;
    border: solid 1px white;
  }

  .navbar-items li {
    width: 100%;
  }

  .footer__container {
    flex-flow: column;
    align-items: flex-start;
  }

  .footer--item:hover {
    text-decoration: underline;
  }
}
